body{
	font-size: 12px;
	padding: 0;
	margin: 40px 0 0 0;
	font-family: 宋体；
	background:#fff;
}
#header{
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/header_bg.png);
}

.header_main{
	width: 70%;
	height: 40px;
	margin: 0 auto;

}

.header_main h1{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color:#666;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	float: left;
}

.header_search {
	padding: 6px 0 0 0;
	float: left;
}

.header_button{
	padding: 5px;
	float: left;
}

.search{
	width: 300px;
	height: 24px;
	color: #666;
	float: left;
	border:1px solid #ccc;

}

#header .header_menber{
	float: right;
	line-height: 40px;
	height: 40px;
}
.header_menber a{
	text-decoration: none;
	font-size: 14px;
	color: #555;	
}